@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Baloo+Thambi+2:wght@400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-gradient {
    @apply h-auto w-full;
    background: linear-gradient(
      to bottom left,
      rgba(255, 118, 116, 0.9) 1%,    /* El color #FF7674 con 80% de opacidad */
      rgba(255, 255, 255, 0.8) 20%,   /* El color blanco (#FFF) con 80% de opacidad */
      rgba(255, 255, 255, 0.8) 50%,   /* Mantener el color blanco con 80% de opacidad */
      rgba(250, 197, 141, 0.8) 60%    /* El color #FFBC74 con 80% de opacidad */
    );
}

.custom-border-gradient {
    border-width: 4px; /* Mantén el grosor del borde que ya tienes */
    border-radius: 50%; /* Asegura que el borde sea circular */
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      to right,
      #FF7674,
      #FF74B7,
      #FF74FC,
      #FFBC74
    );
}